h1 {
    color: #7d36b8;
}
.h2class {
    border: 5px solid greenyellow;
    border-radius: 5px;
    font-size: 30px;
    background: #00aeff;
    padding: 10px;

}

.shadow {
    text-shadow: #00ff00 0 -4px;
  }

.pclass {
    text-align: center;
    color: #3700ff;
    font-size: 24px;
    font-style: oblique;
    font-weight: 900;
    text-shadow: #00ff00 0 -4px;

}
